body , html {
  height: 100%;
}

.bg {
  background-image: url("src/noom-peerapong-2uwFEAGUm6E-unsplash.jpg");
  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
color: purple;
}
h1 {
  color: red;
}

		#sec1 {
			font-family: courier;
			font-size: 20px;
			font-weight: bold;
			margin-top: 5px;
      align-content: space-around;

		}

.FL{
  font-weight: bold;
  color: red;
  font-size: 40px;
}
